<!DOCTYPE html>
<html>
  <head>
    <title>Basement Windows</title>
  </head>
  <body class="container">
    <h1>This is Basement Windows</h5>
    <img src="./images/open-windows.png" alt="Open basement windows" height="250px">

    <%- body %>

  </body>
</html>
