<!DOCTYPE html>
<html>
  <head>
    <title>Basement Windows</title>
  </head>
  <body class="container">

    <img src="./images/open-windows.png" alt="Open basement windows" height="250px">

    <%- body %>

  </body>
</html>
